.champ-card {
    background-color: white;
    text-align: center;
    

    width: 95%;

    padding: 15px;
    border-radius: 15px;
}

main {
    display: flex;
    flex-direction: column;

    /*centering the content*/
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}


table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    font-family: "Cabin", sans-serif;
    thead{
        border: 1px solid;
    }
}


tr{
    border-collapse: collapse;
        border: 2px solid;
        border-radius: 5px;
        th{
            border: 2px solid;
        }
}




#