.card-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 200px;
    height: 250px;

    cursor: pointer;

    border-radius: 25px;
    overflow: hidden;
}

#ligue-1 {
    background-image: url("../assets/images/logo-ligue1.png");
    background-size: cover;
    background-position: center;
    
}

#ligue-a {
    background-image: url("../assets/images/logo-liguea.jpg");
    background-size: cover;
    background-position: center;
}

#bundesliga {
    background-image: url("../assets/images/logo-bundesliga.png");
    background-size: cover;
    background-position: center;

}

#premierleague {
    background-image: url("../assets/images/logo-premierleague.jpg");
    background-size: cover;
    background-position: center;
}

#serie-a {
    background-image: url("../assets/images/logo-serie-a.jpg");
    background-size: cover;
    background-position: center;

}

/****************************** HEADER ******************************/

header {
    margin: 0;
    padding: 0;

    height: 100vh;

    text-align: center;
    background-color: black;
}


.header-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* center the items vertical */
    align-items: center;
    /* center the items horizontal */
    justify-items: center;
    height: 87.5%;
}

.header-title {
    font-family: "Play", sans-serif;
    font-size: 40px;
    color: #F2F2F2;
}

.header-button {
    font-family: "Play", sans-serif;
    font-size: 1.25em;
    color: #F2F2F2;
    background-color: #feffdfa6;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.header-button:hover{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    color: #000000 ;
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.header-image {
    width: 55%;
    margin: 0 auto;
}